.headtitle{
  position: relative;
  border-radius: 15px;
  font-size: 82px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-attachment: fixed;
    background-size: cover;
    background: radial-gradient(rgb(0, 110, 255), purple, red, orange, green);
    /*to right, #40E0D0, #FF8C00, #FF0080*/
}
.container{
    float: left;
    position: absolute;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin-top: 30px;
}
.container2{
  margin-left: 25px;
  position: absolute;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 95%;
  height: 70px;
}
.container3{
  margin-top: 200px;
  margin-left: 320px;
  align-content: center;
  position: absolute;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  height: 55px;
  padding: 5px;
}
.content{
    width: 300px;
    height: 270px;
}
.maincontainer{
    float: left;
    overflow: hidden;
}

  .imgtext {
    position: absolute;
    top: 91%;
    left: 50%;
    width: 300px;
    font-size: 25px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Brush Script MT;
    padding: 3px;
  }
  .imgtext2{
    position: absolute;
    top: 93%;
    left: 50%;
    width: 300px;
    font-size: 25px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: black;
    font-family: Brush Script MT;
    padding: 3px;
  }
  .topnav {
    position: relative;
    overflow: hidden;
    /*background-color: rgba(255, 255, 255, 0.308); pink, orangered, rgb(170, 47, 47);*/
    background: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 15px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Times New Courier;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background: gray;
    /*rgba(0, 255, 191, 0.5), rgba(0, 162, 255, 0.5));*/
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  #myVideo {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }